body{
    font-family: Arial;
}
h1{
    text-align: center; color: rgb(70, 137, 238);
}
h3{
    margin-bottom: 0px;
}
ul,ol{
    margin-top: 0px;
}
.topictitle{
    font-weight: normal;
}
.ol_alpha{
    list-style-type: upper-alpha;
}
.ol_roman{
    list-style-type: upper-roman;
}
#agendasummary{
    text-align: center; color: grey; margin: 2% 0%;
}
#agendasummary span{
    margin: 10px;
}
.li{
    font-weight: bold;
}
.lico{
    font-weight: bold;
    color: rgb(70, 137, 238);
}
li{
    font-size: 80%;
}